@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&family=Saira&display=swap');

header {
    width: 100%;
    background-color: rgb(91, 105, 178);
    display: flow;
    height: auto;
}

.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo {
    position: static;
    flex: 0 0 300px;
    margin: 0 0;
}

.logo img {
    width: auto;
    height: 110px;
}

.search {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.search form,
.search-field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field input {
    width: 100%;
    max-width: 70vw;
    padding-left: 15px;
    height: 50px;
    box-sizing: border-box;
    background-color: #E6E6FA;
    border: none;
    border-radius: 10px;
    font-family: 'Kodchasan', 'Arial', sans-serif;
}

.user-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    position: static;
    flex: 0 0 300px;
}


.search-field input::placeholder {
    color: rgb(18, 9, 9);
    opacity: 0.3;
}

.search-field input:focus {
    outline: none;
    background-color: #FFF;
  }

.search-field input:focus::placeholder {
    color: transparent;
}


#log img {
    position: relative;
    width: 85px;
    height: 95px;
    margin-top: 7px;
}

#log img {
    position: relative;
    width: 85px;
    height: 95px;
    margin-top: 7px;
}

#log img:hover {
background: rgb(135, 135, 193);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(135, 135, 193),
                0 0 7px rgb(135, 135, 193),
                0 0 7px rgb(135, 135, 193),
                0 0 7px rgb(135, 135, 193);
}

.navbar {
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .5s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


#log img {
    position: relative;
    width: 85px;
    height: 95px;
    margin-top: 7px;
}

#log img:hover {
background: rgb(135, 135, 193);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(135, 135, 193),
                0 0 7px rgb(135, 135, 193),
                0 0 7px rgb(135, 135, 193),
                0 0 7px rgb(135, 135, 193);
}
