{% extends 'Base.html' %}
{% load static %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'EditProfile.css' %}">
    <link rel="stylesheet" href="{% static 'Box.css' %}">
{% endblock link %}
{% block content %}
    <section class="box">
        <form method="post">
        {% csrf_token %}
            <fieldset>
                <legend>Editing profile</legend>
                <table>
                <tr>
                    <th>User Info</th>
                    <th>Fill User Info</th>
                </tr>
                <tr>
                    <td>{{ user_form.username.label_tag }}</td>
                    <td>
                        {{ user_form.username}}
                        {{user_form.username.errors|striptags }}
                        <div id="UserError" class="error-message"></div>
                    </td>
                </tr>
                <tr>
                    <td> {{ user_form.email.label_tag }}</td>
                    <td>
                        {{ user_form.email }}
                        {{user_form.email.errors|striptags }}
                        <div id="EmailError" class="error-message"></div>
                    </td>
                </tr>
                <tr>
                  <td>{{ prof_form.bio.label_tag }}</td>
                  <td>{{ prof_form.bio}}</td>
                </tr>
                <tr>
                    <td>{{ prof_form.birthday.label_tag }}</td>
                    <td>
                        {{ prof_form.birthday}}
                        {{user_form.birthday.errors|striptags }}
                        <div id="BirthdayInputError" class="error-message"></div>
                    </td>
                </tr>
                <tr>
                   <td colspan="2">
                       <div class="submit-edit-profile">
                           <button class="button" type="submit">Save changes</button>
                           <a href="{% url 'home' %}">
                               <button class="button">Home</button>
                           </a>
                       </div>
                   </td>
                </tr>
            </table>
                </fieldset>
        </form>
    </section>
{% endblock content %}
