{% extends 'Base.html' %}
{% load static %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'HomePage.css' %}">
    <link rel="stylesheet" href="{% static 'Box.css' %}">
    <link rel="stylesheet" href="{% static 'Categories.css' %}">
    <link rel="stylesheet" href="{% static 'ProductCart.css' %}">
    <script src="{% static 'CartOperations.js'%}" defer></script>
{% endblock link %}
{% block content %}
    {% if is_admin and is_auth %}
        <div class="box" style="grid-column: 1 / span 3; justify-content: center; display: flex; flex-direction: column">
            <p style="margin: 10px; font-size: 20px; text-align: center">Technical break</p>
        </div>
        {% else %}
            {% include 'Components/Categories.html' %}
            {% include 'Components/ArtProducts.html' %}
            {% include 'Components/Cart.html' %}
    {% endif %}
{% endblock content %}

