{% extends 'Base.html' %}
{% load static %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'EditProfile.css' %}">
    <link rel="stylesheet" href="{% static 'Box.css' %}">
{% endblock link %}
{% block content %}
    <h1>{{ current_product.name }}</h1>
    <section>
        <img src="{{ current_product.image.url }}" alt="product_image" width="200" height="200">
    </section>
    <section>
        <p>{{ current_product.price }}</p>
        <p>{{ current_product.genre }}</p>
        <p>{{ current_product.material }}</p>
        <p>{{ current_product.paint_type}}</p>
    </section>
{% endblock content %}