<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/Images/icons8-shop-local-16.png">
    <title>Title</title>
</head>
<body>
    <h1>{{ current_product.name }}</h1>
    <section>
        <img src="{{ current_product.image.url }}" alt="product_image" width="200" height="200">
    </section>
    <section>
        <p>{{ current_product.price }}</p>
        <p>{{ current_product.genre }}</p>
        <p>{{ current_product.material }}</p>
        <p>{{ current_product.paint_type}}</p>
    </section>
</body>
</html>