{% extends 'Base.html' %}
{% load static %}
{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Profile.css' %}">
    <link rel="stylesheet" href="{% static 'Box.css' %}">
    <link rel="stylesheet" href="{% static 'ProductCart.css' %}">
    <script src="{% static 'CartOperations.js' %}" defer></script>
{% endblock link %}
{% block title %}
    <title>{{ username }}</title>
{% endblock title %}

{% block content %}
    <section style="grid-column: 1; grid-row: 1;" class="profile-box">
        <img class="profile-avatar" style="grid-row: 1 / span 8;" src="{{ current_profile.avatar.url }}" alt="Avatar" height="200" width="200" />
        <span style="grid-column: 2; grid-row: 2">Username:</span>
        <span style="grid-column: 3; grid-row: 2"><b>{{ username }}</b></span>
        <span style="grid-column: 2; grid-row: 3">Email:</span>
        <span style="grid-column: 3; grid-row: 3">{{ current_profile.user.email }}</span>
        <span style="grid-column: 2; grid-row: 4">Date of Birth:</span>
        <span style="grid-column: 3; grid-row: 4">{{ current_profile.birthday }}</span>
        <span style="grid-column: 2; grid-row: 5">Bio:</span>
        <article class="bio-box" style="grid-column: 2 / span 2; grid-row: 6">{{ current_profile.bio }}</article>
        <div style="grid-column: 2 / span 3; grid-row: 7; display: flex; justify-content: center">
            <a  href="{% url 'edit_profile' prof_id=current_profile.id %}">
                <button class="button">Edit Profile</button>
            </a>
        </div>
    </section>
    {% include 'Components/Cart.html' %}
    {% include 'Components/Receipt.html' %}
{% endblock %}
