 <section id="categories" class="box" style="grid-row: 1; grid-column: 1;">
        <h3>Categories</h3>
        <form method="get">
            <div class="categories-layout">
                <div class="category-group">
                    <h4>Type of paint</h4>
                    <label for="oils">
                        <input type="checkbox" id="oils" name="oils" value="Oils">
                        Oils
                    </label>
                    <label for="acrylic">
                        <input type="checkbox" id="acrylic" name="acrylic" value="Acrylic">
                        Acrylic
                    </label>
                    <label for="watercolor">
                    <input type="checkbox" id="watercolor" name="watercolor" value="Watercolor">
                        Watercolor
                    </label>
                </div>
                <div class="category-group">
                    <h4>Material</h4>
                    <label for="canvas">
                        <input type="checkbox" id="canvas" name="canvas" value="Canvas">
                        Canvas
                    </label>
                    <label for="paper">
                        <input type="checkbox" id="paper" name="paper" value="Paper">
                        Paper
                    </label>
                </div>
                <div class="category-group">
                    <h4>Genre</h4>
                     <label for="landscape">
                        <input type="checkbox" id="landscape" name="landscape" value="Landscape">
                        Landscape
                     </label>
                    <label for="portrait">
                        <input type="checkbox" id="portrait" name="portrait" value="Portrait">
                        Portrait
                    </label>
                    <label for="illustration">
                        <input type="checkbox" id="illustration" name="illustration" value="Illustration">
                        Illustration
                    </label>
                    <label for="graphics">
                        <input type="checkbox" id="graphics" name="graphics" value="Graphics">
                        Graphics
                    </label>
                    <label for="still_life">
                        <input type="checkbox" id="still_life" name="still_life" value="Still life">
                        Still life
                    </label>
                </div>
                <div style=" grid-row: 4; grid-column: 1 / span 2; display: flex; justify-content: center">
                    <button class="button" type="submit">Filter</button>
                </div>
            </div>
        </form>
    </section>